/dist/*
!/dist/css/
/dist/css/*
!/dist/css/skit.css
!/dist/css/skit.min.css
!/dist/js/
/dist/js/*
!/dist/js/skit.js
!/dist/js/skit.min.js
!/dist/js/skit-icons.js
!/dist/js/skit-icons.min.js
/node_modules
/test
.DS_Store
/.idea