/dist/*
!/dist/css/
/dist/css/*
!/dist/css/skit.css
!/dist/css/skit.min.css
!/dist/css/skit-core.css
!/dist/css/skit-core.min.css
!/dist/js/
/dist/js/*
!/dist/js/skit.js
!/dist/js/skit.min.js
!/dist/js/skit-core.js
!/dist/js/skit-core.min.js
!/dist/js/skit-icons.js
!/dist/js/skit-icons.min.js
!/dist/js/components/
/docs/*
/node_modules
/test
custom
.DS_Store
/.idea